Creating and Altering Tables with SQL

In [1]:
CREATE TABLE Patient(

Patient_ID INT NOT NULL,
Patient_Name VARCHAR (100),
Patient_Age INT,
Patient_Address VARCHAR(100),
Patient_Gender VARCHAR(100),
Disease VARCHAR(100)
);

In [2]:
ALTER TABLE Patient
ADD Doctor_ID INT NOT NULL;

In [3]:
ALTER TABLE Patient
DROP COLUMN Patient_Gender

In [4]:
SELECT * FROM Patient

In [6]:
ALTER TABLE Patient
ADD CONSTRAINT Patient_PK
PRIMARY KEY (Patient_ID)

In [7]:
CREATE TABLE Doctor(
    Doctor_ID INT NOT NULL,
    Doctor_Name VARCHAR(100),
    Doctor_Age VARCHAR(100),
    Doctor_Gender VARCHAR(100),
    Doctor_Address VARCHAR(100)

    CONSTRAINT Doctor_PK PRIMARY KEY (Doctor_ID)
)

In [8]:
SELECT * FROM Doc

In [ ]:
CREATE TABLE R