 **Creating and Altering Tables for a New Hospital Management Database with SQL**

In [1]:
CREATE TABLE Patient(

Patient_ID INT NOT NULL,
Patient_Name VARCHAR (100),
Patient_Age INT,
Patient_Address VARCHAR(100),
Patient_Gender VARCHAR(100),
Disease VARCHAR(100)
);

In [2]:
ALTER TABLE Patient
ADD Doctor_ID INT NOT NULL;

In [3]:
ALTER TABLE Patient
DROP COLUMN Patient_Gender

In [4]:
ALTER TABLE Patient
ADD Patient_Gender VARCHAR(10)

In [5]:
SELECT * FROM Patient

In [4]:
SELECT * FROM Patient

In [6]:
ALTER TABLE Patient
ADD CONSTRAINT Patient_PK
PRIMARY KEY (Patient_ID)

In [7]:
CREATE TABLE Doctor(
    Doctor_ID INT NOT NULL,
    Doctor_Name VARCHAR(100),
    Doctor_Age VARCHAR(100),
    Doctor_Gender VARCHAR(100),
    Doctor_Address VARCHAR(100)

    CONSTRAINT Doctor_PK PRIMARY KEY (Doctor_ID)
);

In [3]:
SELECT * FROM Doctor

In [6]:
CREATE TABLE Room(
    Room_No INT NOT NULL,
    Room_Status VARCHAR(25),
    Room_Type VARCHAR(25)

CONSTRAINT Room_PK PRIMARY KEY (Room_No)
);

In [7]:
SELECT * FROM Room

In [8]:
ALTER TABLE Patient
ADD CONSTRAINT Patient_Doc_FK FOREIGN KEY (Doctor_ID) REFERENCES Doctor(Doctor_ID)

In [11]:
CREATE TABLE Check_In_Out(
    Patient_ID INT NOT NULL,
    Room_No INT,
    Check_In_Date datetime,
    Check_Out_Date datetime,
    
    CONSTRAINT Patient_ID_FK FOREIGN KEY (Patient_ID) REFERENCES Patient (Patient_ID),

    CONSTRAINT Room_No_FK FOREIGN KEY (Room_NO) REFERENCES Room (Room_No)
    );

In [12]:
Select * FROM Check_In_Out

In [13]:
INSERT INTO Doctor
VALUES (1, 'Adams, Ryan', 42, 'male', 'TX'),
(2, 'Adams, Ryan', 42, 'male', 'TX'),
(3, 'Booney, Jacob', 62, 'male', 'TX'),
(4, 'Lloyd, Brittany', 33, 'female', 'CA'),
(5, 'Flowers, Mya', 28, 'female', 'NC'),
(6, 'Johnson, Brandy', 59, 'female', 'FL');

SELECT * FROM Doctor

Doctor_ID,Doctor_Name,Doctor_Age,Doctor_Gender,Doctor_Address
1,"Adams, Ryan",42,male,TX
2,"Adams, Ryan",42,male,TX
3,"Booney, Jacob",62,male,TX
4,"Lloyd, Brittany",33,female,CA
5,"Flowers, Mya",28,female,NC
6,"Johnson, Brandy",59,female,FL

In [53]:
UPDATE Doctor 
SET Doctor_Name = 'Allan, Ryan', Doctor_Age = 32, Doctor_Gender ='male', Doctor_Address = 'CA'
WHERE Doctor_ID = 2;

SELECT * FROM DOCTOR;

Doctor_ID,Doctor_Name,Doctor_Age,Doctor_Gender,Doctor_Address
1,"Adams, Ryan",42,male,TX
2,"Allan, Ryan",32,male,CA
3,"Booney, Jacob",62,male,TX
4,"Lloyd, Brittany",33,female,CA
5,"Flowers, Mya",28,female,NC
6,"Johnson, Brandy",59,female,FL

In [16]:
INSERT INTO Patient
VALUES (1, 'Doe, John', 22, 'CA','flu', 4, 'male'),
(2, 'Jones, Melissa', 27, 'CA','c19', 4, 'female'),
(3, 'Stephens, Kandi', 35, 'CA','injury', 4, 'female'),
(5, 'Bellomo, John', 38, 'NC','flu', 5, 'male'),
(6, 'Milton, Richard', 42, 'CA','injury', 4, 'male'),
(7, 'White, Mandy', 23, 'FL','injury', 6, 'female'),
(8, 'Allen, John', 59, 'FL','testing', 6, 'male'),
(9, 'Arnolds, Alex', 36, 'CA','follow-up', 4, 'male'),
(10, 'Carter, Andy', 27, 'NC','flu', 5, 'male'),
(11, 'Ronalds, Ryan', 17, 'TX','chest pain', 3, 'male');

SELECT * FROM Patient

Patient_ID,Patient_Name,Patient_Age,Patient_Address,Disease,Doctor_ID,Patient_Gender
1,"Doe, John",22,CA,flu,4,male
2,"Jones, Melissa",27,CA,c19,4,female
3,"Stephens, Kandi",35,CA,injury,4,female
5,"Bellomo, John",38,NC,flu,5,male
6,"Milton, Richard",42,CA,injury,4,male
7,"White, Mandy",23,FL,injury,6,female
8,"Allen, John",59,FL,testing,6,male
9,"Arnolds, Alex",36,CA,follow-up,4,male
10,"Carter, Andy",27,NC,flu,5,male
11,"Ronalds, Ryan",17,TX,chest pain,3,male

In [26]:
INSERT INTO Room
VALUES (223, 'Full'),
(420, 'Full'),
(25, 'Full'),
(1, 'Full'),
(222, 'Full'),
(228, 'Full'),
(35, 'Full'),
(47, 'Full'),
(157, 'Full'),
(12, 'Full');

INSERT INTO Check_In_Out
VALUES (1, 223, 2022-09-27, 2022-09-27),
(2, 420, 2022-02-28, 2022-09-27),
(3, 25, 2022-08-12, 2022-08-22),
(5, 1, 2022-09-28, 2022-10-2),
(6, 222, 2022-08-12, 2022-10-5),
(7, 228, 2022-08-12, 2022-10-12),
(8, 35, 2022-09-26, 2022-09-26),
(9, 47, 2022-09-22, 2022-09-22),
(10, 157, 2022-09-27, 2022-09-27),
(11, 12, 2022-09-28, 2022-09-28);

In [27]:
SELECT * FROM Room;
SELECT * FROM Check_In_Out;

Room_No,Room_Status
1,Full
12,Full
25,Full
35,Full
47,Full
157,Full
222,Full
223,Full
228,Full
420,Full

Patient_ID,Room_No,Check_In_Date,Check_Out_Date
1,223,1905-06-10 00:00:00.000,1905-06-10 00:00:00.000
2,420,1905-06-16 00:00:00.000,1905-06-10 00:00:00.000
3,25,1905-06-26 00:00:00.000,1905-06-16 00:00:00.000
5,1,1905-06-09 00:00:00.000,1905-07-04 00:00:00.000
6,222,1905-06-26 00:00:00.000,1905-07-01 00:00:00.000
7,228,1905-06-26 00:00:00.000,1905-06-24 00:00:00.000
8,35,1905-06-11 00:00:00.000,1905-06-11 00:00:00.000
9,47,1905-06-15 00:00:00.000,1905-06-15 00:00:00.000
10,157,1905-06-10 00:00:00.000,1905-06-10 00:00:00.000
11,12,1905-06-09 00:00:00.000,1905-06-09 00:00:00.000

In [29]:
UPDATE Room SET Room_Status = 'EMPTY';

In [31]:
SELECT * FROM Room;

Room_No,Room_Status
1,EMPTY
12,EMPTY
25,EMPTY
35,EMPTY
47,EMPTY
157,EMPTY
222,EMPTY
223,EMPTY
228,EMPTY
420,EMPTY

In [32]:
UPDATE Room 
SET Room_Status = 'Full'
WHERE Room_No = 47;

SELECT * FROM Room;

Room_No,Room_Status
1,EMPTY
12,EMPTY
25,EMPTY
35,EMPTY
47,Full
157,EMPTY
222,EMPTY
223,EMPTY
228,EMPTY
420,EMPTY

In [54]:
SELECT Doctor_Name, COUNT(Patient_ID) AS Total_Patients
FROM Patient, Doctor
WHERE Patient.Doctor_ID = Doctor.Doctor_ID
GROUP BY Doctor.Doctor_Name
ORDER BY 2 DESC

Doctor_Name,Total_Patients
"Lloyd, Brittany",5
"Flowers, Mya",2
"Johnson, Brandy",2
"Booney, Jacob",1